::ng-deep {
    & .nb-edit,
    & .nb-trash {
        opacity: 0;
        transition-duration: 0.8s;
    }

    & tr:hover {
        & .nb-edit,
        & .nb-trash {
            opacity: 1;
            transition-duration: 0.1ms;
        }
    }

    //tbody tr:nth-child(even) {
    //    background: #ffee58 !important;
    //}
    //tbody tr:nth-child(odd) {
    //    background: #d9b34c !important;
    //}

}
