<div class="create-project-form-container">
    <form [formGroup]="projectForm">
        <mat-form-field>
            <input
                matInput
                formControlName="title"
                type="text"
                placeholder="Project Title"
            />
            <mat-error *ngIf="projectForm.controls.title.hasError('required')">
                Project title is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                placeholder="Add member"
                [matAutocomplete]="auto"
                formControlName="members"
            />
            <mat-autocomplete (optionSelected)="addMember($event)"  #auto="matAutocomplete" [displayWith]="displayInputWith">
                <mat-option *ngFor="let user of filteredUsers" [value]="user">
                    {{
                        user.firstName + " " + user.lastName + " (" + user.email + ")"
                    }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <project-members
            (removeMemberEvent)="removeMember($event)"
            [selectedMembers]="selectedMembers"
        >
        </project-members>
    </form>
</div>
