<!--#changed foreach true->false -->
<nb-card [nbSpinner]="false" nbSpinnerStatus="primary">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="false" nbSpinnerStatus="success">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="false" nbSpinnerStatus="info">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="false" nbSpinnerStatus="warning">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="false" nbSpinnerStatus="danger">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>
