.no-members-message {
    margin: auto;
}

nb-list-item {
    display: flex;
    justify-content: space-between;
}

nb-icon {
    font-size: 1.65rem;
    margin: auto 0 auto;
    cursor: pointer;
}

nb-user {
    display: inline-flex;
}
