<nb-card>
    <nb-card-header>
        <div class="peer">
            <button type="button" class="btn cur-p btn-primary"
                    data-toggle="modal" data-target="#modal-add-project" (click)="onAdd()">
                Add Project
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div>
                <ng2-smart-table [settings]="settings"
                                 [source]="dataSource"
                                 (delete)="onDelete($event)"
                                 (edit)="onEdit($event)">
                </ng2-smart-table>
            </div>

        </div>
    </nb-card-body>
</nb-card>

<modal-add-project></modal-add-project>
